<h1>Heroe Component</h1>

<h2>{{nombre}}</h2>
<dl>
  <td>Nombre:</td>
  <dd>{{ nombre }}</dd>

  <td>Edad:</td>
  <dd>{{edad}}</dd>

  <td>Función:</td>
  <dd>{{obtenerNombre()}}</dd>

  <td>Capitalizado:</td>
  <dd>{{nombreCapitalizado}}</dd>

  <button (click)="cambiarNombre()">
    Cambiar Héroe
  </button>
  <button (click)="cambiarEdad()">
    Cambiar Edad
  </button>

</dl>