<h2>listado de Heroes</h2>

<div *ngIf="heroRemoved; else noBorrado">
  <h3>Héroe Borrado: <small>{{heroRemoved}}</small></h3> 
</div>

<ng-template #noBorrado>
  <h3>No ha borrado nada.</h3>
</ng-template>


<button (click)="borrarHeroe()">
  Borrar
</button>
<br>
<ul>
  <li *ngFor="let hero of heroes; let i = index">
    {{i+1}} - {{hero}}
  </li>
</ul>

